.container {
  margin: 0 auto;
}

@media screen and (max-width: 375px) {
  .sidebar {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding: 0.5rem;
  }

  #map {
    width: 70%;
  }

  .location-container {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .search-overlay {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }
  .sidebar {
    padding: 1rem;
    overflow-x: hidden;
  }
  #map {
    width: auto;
  }

  .form {
    width: 60%;
    grid-template-columns: 1fr;
  }

  .form__input {
    margin-top: 0;
  }

  .form__label {
    margin-bottom: 1rem;
  }

  .sidebar-right {
    right: 0%;
  }

  .search-overlay {
    top: 5%;
  }

  .search-bar-map {
    width: auto;
    position: absolute;
    left: 30%;
  }

  .search-bar-map button {
    top: 7%;
  }
  .location__details-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .location__details {
    flex-direction: column;
    gap: 0.5rem;
  }

  .location__actions {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .location__actions .btn {
    padding: 0.5rem 1rem;
  }
  .form__btn {
    margin-bottom: 5rem;
  }
  .location-container {
    width: 60%;
    padding: 0.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .marker {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .popup {
    font-size: 12px;
  }

  .popup .popup-content-agence,
  .popup .popup-content-xpress {
    gap: 4px;
  }

  .custom-icon {
    gap: 0.5rem;
  }

  .icon-agence,
  .icon-xpress {
    font-size: 2rem;
  }

  .location__icon ion-icon {
    font-size: 16px;
  }

  .modal {
    padding: 1.5rem;
  }

  .form {
    width: 73%;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 30rem;
    overflow-x: hidden;
  }

  #map {
    width: 90%;
  }

  .search-overlay {
    left: 70%;
  }

  .location {
    width: 85%;
  }

  .location__title {
    font-size: 1.8rem;
    text-align: center;
  }
  .location-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    gap: 0%;
    align-items: center;
    margin-bottom: 1rem;
  }

  .location__details-container {
    display: flex;
    flex-direction: column;
  }

  .search-overlay {
    width: 25%;
  }

  .form {
    width: 98%;
  }
}

@media screen and (max-width: 1440px) {
  .sidebar {
    width: 84.3rem;
  }

  #map {
    width: 70%;
  }

  .search-overlay {
    left: 70%;
  }
}

@media screen and (max-width: 2560px) {
  #map {
    width: 80%;
  }
}
