@media screen and (max-width: 320px) {
  .form__input {
    padding: 0.5rem;
  }

  .location__title {
    font-size: 1.4rem;
  }

  .location__details {
    font-size: 1.2rem;
  }

  .location__actions .btn {
    font-size: 1rem;
  }

  .marker {
    font-size: 0.9rem;
  }

  .popup {
    font-size: 10px;
  }

  .modal {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 325px) {
  .form__input {
    padding: 0.5rem;
  }

  .location__title {
    font-size: 1.4rem;
  }

  .location__details {
    font-size: 1.2rem;
  }

  .location__actions .btn {
    font-size: 1rem;
  }

  .marker {
    font-size: 0.9rem;
  }

  .popup {
    font-size: 10px;
  }

  .modal {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 375px) {
  .sidebar {
    padding: 1rem;
  }

  .form {
    padding: 1rem;
  }

  .form__input {
    padding: 0.75rem;
  }

  .location__title {
    font-size: 1.6rem;
  }

  .location__details {
    font-size: 1.4rem;
  }

  .location__actions .btn {
    font-size: 1.2rem;
  }

  .marker {
    font-size: 1rem;
  }

  .popup {
    font-size: 12px;
  }

  .modal {
    padding: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .sidebar {
    flex-basis: auto;
  }

  .sidebar-right {
    display: none;
  }

  .search-overlay {
    display: none;
  }

  .form {
    padding: 1rem;
  }

  .form__input {
    padding: 0.75rem;
  }

  .location__title {
    font-size: 1.6rem;
  }

  .location__details {
    font-size: 1.4rem;
  }

  .location__actions .btn {
    font-size: 1.2rem;
  }

  .marker {
    font-size: 1rem;
  }

  .popup {
    font-size: 12px;
  }

  .modal {
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 40%;
    padding: 1rem;
  }
  #map {
    width: 70%;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .form__input {
    margin-top: 0;
  }

  .form__label {
    margin-bottom: 1rem;
  }

  .sidebar-right {
    right: 0%;
  }

  .search-overlay {
    top: 5%;
  }

  .search-bar-map {
    width: auto;
    position: absolute;
    left: 30%;
  }

  .location__details-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .location__details {
    flex-direction: column;
    gap: 0.5rem;
  }

  .location__actions {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
  }

  .location__actions .btn {
    padding: 0.5rem 1rem;
  }

  .location-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .marker {
    padding: 0.5rem;
    font-size: 1rem;
  }

  .popup {
    font-size: 12px;
  }

  .popup .popup-content-agence,
  .popup .popup-content-xpress {
    gap: 4px;
  }

  .custom-icon {
    gap: 0.5rem;
  }

  .icon-agence,
  .icon-xpress {
    font-size: 2rem;
  }

  .location__icon ion-icon {
    font-size: 16px;
  }

  .modal {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .sidebar {
    width: 75rem;
  }

  #map {
    width: 70%;
  }

  .search-overlay {
    left: 70%;
  }

  .location-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 1440px) {
  .search-overlay {
    left: 80%;
  }

  .sidebar {
    width: 75rem;
  }

  #map {
    width: 70%;
  }

  .search-overlay {
    left: 70%;
  }
}

@media screen and (max-width: 2560px) {
  .container {
    margin: 0 auto;
  }

  #map {
    width: 80%;
  }
}
